<%- include('../partials/header') %>
  <h1>All Flights</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(f => { %>
          <tr <% if(f.departs < new Date()) { %> class = 'departed' <% } %> >
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs %></td>
            <td><button><a href="/flights/<%=f._id%>">View Details</a></button></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  <%- include('../partials/footer') %>